<!DOCTYPE HTML>
<html>
	<head>
		<title>Porfolio</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="./static/assets/css/main.css" />
		<link href="./static/images/portfolio.ico" rel="icon">
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="#" class="image avatar"><img src="./static/images/lv_picture.jpg" alt="" /></a>
					<h1>Laurent Valle<br />
					Jr. Software Developer<br /></h1>
				</div>
			</header>

		<!-- Main -->
			<div id="main">

				<!-- One -->
					<section id="one">
						<header class="major">
							<h2>More About Me</h2>
						</header>
						<p>I am a recent graduate from Indiana University – Purdue University Indianapolis where I earned a Bachelor of Science in Computer and Information Science with a Minor in Mathematics.<br />
							<br />
						   I had the privilege to study a large spectrum of computer science from fundamentals to data analytics. My average GPA of 3.89 demonstrates my academic potential and I am looking for converting this potential into professional experience.<br />
						    <br />
						   I was recognized on the Dean’s List Highest Honors for Academic Excellence in Fall 2017, Fall 2018, and Spring 2019. After graduation in December 2019, I was also recognized on the Science Scholars List of Indiana University – Purdue University Indianapolis.
						</p>
						<p><img src="./static/images/IUPUI_logo.jpg" alt="Purdue School of Science, IUPUI" width="200"height="80"></p>

					</section>

				<!-- Two -->
					<section id="two">
						<h2>Programming</h2>
						<div class="row">
							<article class="col-6 col-12-xsmall work-item">
								<a href="./static/images/python_s.jpg" class="image fit thumb"><img src="./static/images/python_logo.jpg" alt="" width="370" height="205"/></a>
								<h3>Python</h3>
								<p>Computing I - CSCI 23000<br />
								   Complete Python Developer in 2020: Zero to Mastery on Udemy, by Andrei Neagoie.
								</p>
							</article>
							<article class="col-6 col-12-xsmall work-item">
								<a href="./static/images/cpp_s.jpg" class="image fit thumb"><img src="./static/images/cp+_logo.jpg" alt="" width="370" height="205"/></a>
								<h3>C++</h3>
								<p>Computing II - CSCI 24000<br />
								   Data Structures - CSCI 36200<br />
								   Beginning C++ Programming - From Beginner to Beyond on Udemy, by Tim Buchalka and Frank J. Mitropoulos
								</p>
							</article>
							<article class="col-6 col-12-xsmall work-item">
								<a href="./static/images/python_s.jpg" class="image fit thumb"><img src="./static/images/git_logo.jpg" alt="" width="370" height="205"/></a>
								<h3>Git</h3>
								<p>Complete Python Developer in 2020: Zero to Mastery on Udemy, by Andrei Neagoie.
								</p>
							</article>
							<article class="col-6 col-12-xsmall work-item">
								<a href="./static/images/cpp_s.jpg" class="image fit thumb"><img src="./static/images/gitHub_logo.jpg" alt="" width="370" height="205"/></a>
								<h3>GitHub</h3>
								<p>Computing II - CSCI 24000<br />
								   Complete Python Developer in 2020: Zero to Mastery on Udemy, by Andrei Neagoie.
								</p>
							</article>
						</div>
					</section>

				<!-- Three -->
					<section id="three">
						<h2>Data Science & Data Engineering</h2>
						<div class="row">
							<article class="col-6 col-12-xsmall work-item">
								<a href="./static/images/fulls/01.jpg" class="image fit thumb"><img src="./static/images/ds_logo.jpg" alt="" width="370" height="205"/></a>
								<h3>Numpy, Pandas, Matplotlib, Scikit-Learn</h3>
								<p>Data Science - CSCI 48900<br />
								   Complete Machine Learning and Data Science: Zero to Mastery on Udemy, by Andrei Neagoie.
								</p>
							</article>
							<article class="col-6 col-12-xsmall work-item">
								<a href="./static/images/fulls/02.jpg" class="image fit thumb"><img src="./static/images/data_mining_logo.jpg" alt="" width="370" height="205"/></a>
								<h3>Data Mining</h3>
								<p>Data Mining - CSCI 48100</p>
							</article>
							<article class="col-6 col-12-xsmall work-item">
								<a href="./static/images/fulls/03.jpg" class="image fit thumb"><img src="./static/images/dp_logo.jpg" alt="" width="370" height="205"/></a>
								<h3>Deep Learning</h3>
								<p>Deep Learning - CSCI 49000<br />
								   Deep Learning Specialization on deeplearning.ai & Coursera, by Andrew Ng
								</p>
							</article>
							<article class="col-6 col-12-xsmall work-item">
								<a href="./static/images/fulls/04.jpg" class="image fit thumb"><img src="./static/images/data_pipeline_logo.jpg" alt="" width="370" height="205"/></a>
								<h3>Data Engineering</h3>
								<p>Building Data Engineering Pipelines in Python on Data Camp</p>
							</article>
						</div>
					</section>

				<!-- Four -->
					<section id="four">
						<h2>Database Systems</h2>
						<div class="row">
							<article class="col-6 col-12-xsmall work-item">
								<a href="./static/images/fulls/01.jpg" class="image fit thumb"><img src="./static/images/sql_server_logo.jpg" alt="" width="370" height="205"/></a>
								<h3>SQL Server</h3>
								<p>Database Systems - CSCI 44300</p>
							</article>
							<article class="col-6 col-12-xsmall work-item">
								<a href="./static/images/fulls/02.jpg" class="image fit thumb"><img src="./static/images/oracle_logo.jpg" alt="" width="370" height="205"/></a>
								<h3>Oracle</h3>
								<p>Advanced Database Programming, Oracle - CSCI-N 311</p>
							</article>
						</div>
					</section>

				<!-- Five -->
					<section id="five">
						<h2>Web Development</h2>
						<div class="row">
							<article class="col-6 col-12-xsmall work-item">
								<a href="./static/images/fulls/01.jpg" class="image fit thumb"><img src="./static/images/html5_css3_js_logo.jpg" alt="" width="370" height="205"/></a>
								<h3>HTML5 - CSS3 - JavaScript</h3>
								<p>Client-Side Web Programming - CSCI-N 341</p>
							</article>
							<article class="col-6 col-12-xsmall work-item">
								<a href="./static/images/fulls/02.jpg" class="image fit thumb"><img src="./static/images/flask_logo.jpg" alt="" width="370" height="205"/></a>
								<h3>Flask</h3>
								<p>Complete Python Developer in 2020: Zero to Mastery on Udemy, by Andrei Neagoie.</p>
							</article>
							<article class="col-6 col-12-xsmall work-item">
								<a href="./static/images/fulls/03.jpg" class="image fit thumb"><img src="./static/images/py_everywhere_logo.jpg" alt="" width="370" height="205"/></a>
								<h3>Python Anywhere</h3>
								<p>Complete Python Developer in 2020: Zero to Mastery on Udemy, by Andrei Neagoie.</p>
							</article>
						</div>
						<ul class="actions">
							<li><a href="./index.html" class="button">Home Page</a></li>
						</ul>
					</section>


			</div>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<ul class="icons">
						<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
						<li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
						<li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Untitled</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="./static/assets/js/jquery.min.js"></script>
			<script src="./static/assets/js/jquery.poptrox.min.js"></script>
			<script src="./static/assets/js/browser.min.js"></script>
			<script src="./static/assets/js/breakpoints.min.js"></script>
			<script src="./static/assets/js/util.js"></script>
			<script src="./static/assets/js/main.js"></script>

	</body>
</html>