<!DOCTYPE HTML>
<html>
	<head>
		<title>Porfolio</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="./static/assets/css/main.css" />
		<link href="./static/images/portfolio.ico" rel="icon">
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="#" class="image avatar"><img src="./static/images/lv_picture.jpg" alt="" /></a>
					<h1>Laurent Valle<br />
					Jr. Software Engineer<br /></h1>
				</div>
			</header>

		<!-- Main -->
			<div id="main">

				<!-- One -->
					<section id="one">
						<h2>Deep Learning - CSCI 4900, Readings</h2>
						<p>
						<div class="row">
							<strong>A list of the mandatory research paper readings from my course in Deep Learning</strong>
						</div>
						</p>
					</section>

				<!-- Two -->
					<section id="two">
						<p>
							<a href="https://openreview.net/pdf?id=ryl5khRcKm" style="color: red;"><em><b>HUMAN-LEVEL PROTEIN LOCALIZATION WITH CONVOLUTIONAL NEURAL NETWORKS</b></em></a>
						</p>
						<p>
							<a href="https://arxiv.org/abs/1805.08318" style="color: red;"><em><b>Self-Attention Generative Adversarial Networks</b></em></a>
						</p>
						<p>
							<a href="https://arxiv.org/abs/1906.04304" style="color: red;"><em><b>Meta Learning Neural Bloom Filters</b></em></a>
						</p>
						<p>
							<a href="https://arxiv.org/pdf/1905.09690.pdf" style="color: red;"><em><b>Fully Neural Network based Model for General Temporal Point Processes</b></em></a>
						</p>
						<p>
							<a href="https://openreview.net/pdf?id=rkxw-hAcFQ" style="color: red;"><em><b>Generating Multi-Agent Trajectories using Programmatic Weak Supervision</b></em></a>
						</p>
						<p>
							<a href="https://arxiv.org/abs/1904.12638" style="color: red;"><em><b>Context-Aware Zero-Shot Learning for Object Recognition</b></em></a>
						</p>
						<p>
							<a href="https://arxiv.org/abs/1811.03567" style="color: red;"><em><b>Biologically Plausible Learning Algorithms Can Scale to Large Datasets </b></em></a>
						</p>
						<p>
							<a href="https://arxiv.org/abs/1810.09502" style="color: red;"><em><b>How to train your MAML</b></em></a>
						</p>
						<p>
							<a href="https://arxiv.org/abs/1811.12297" style="color: red;"><em><b>Incremental Scene Synthesis </b></em></a>
						</p>
						<p>
							<a href="https://arxiv.org/abs/1910.06711" style="color: red;"><em><b>MelGAN: Generative Adversarial Networks for Conditional Waveform Synthesis </b></em></a>
						</p>
						<p>
							<a href="https://arxiv.org/abs/1906.06565" style="color: red;"><em><b>Deep Set Prediction Networks</b></em></a>
						</p>
						<p>
							<a href="https://arxiv.org/abs/1812.01608" style="color: red;"><em><b>Generating High Fidelity Images with Subscale Pixel Networks & Multidimensional Upscaling</b></em></a>
						</p>
						<p>
							<a href="https://arxiv.org/abs/1711.06424" style="color: red;"><em><b>A Resizable Mini-batch Gradient Descent based on a Multi-Armed Bandit</b></em></a>
						</p>
						<p>
							<a href="https://arxiv.org/abs/1812.10889" style="color: red;"><em><b>InstaGAN: Instance-aware Image-to-Image Translation</b></em></a>
						</p>
						<p>
							<a href="https://arxiv.org/abs/1902.08710?" style="color: red;"><em><b>GANSynth: Adversarial Neural Audio Synthesis </b></em></a>
						</p>
						<p>
							<a href="https://arxiv.org/abs/1901.09192" style="color: red;"><em><b>SelectiveNet: A Deep Neural Network with an Integrated Reject Option</b></em></a>
						</p>
						<p>
							<a href="https://arxiv.org/abs/1906.02330" style="color: red;"><em><b>Finding Friend and Foe in Multi-Agent Games</b></em></a>
						</p>
						<ul class="actions">
							<li><a href="./about.html" class="button">More About Me</a></li>
						</ul>
					</section>

			</div>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<ul class="icons">
						<li><a href="https://www.linkedin.com/in/laurent-valle/" class="icon brands fa-linkedin"><span class="label">LinkedIn</span></a></li>
						<li><a href="https://github.com/lvalle87" class="icon brands fa-github"><span class="label">Github</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Untitled</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="./static/assets/js/jquery.min.js"></script>
			<script src="./static/assets/js/jquery.poptrox.min.js"></script>
			<script src="./static/assets/js/browser.min.js"></script>
			<script src="./static/assets/js/breakpoints.min.js"></script>
			<script src="./static/assets/js/util.js"></script>
			<script src="./static/assets/js/main.js"></script>

	</body>
</html>