<!DOCTYPE HTML>
<html>
	<head>
		<title>Portfolio</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="./static/assets/css/main.css" />
		<link href="./static/images/portfolio.ico" rel="icon">
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="#" class="image avatar"><img src="./static/images/lv_picture.jpg" alt="" /></a>
					<h1>Laurent Valle<br />
					Technical Consultant in the ABAP<br />
					Infosys - Eli Lilly Team<br /></h1>
				</div>
			</header>

		<!-- Main -->
			<div id="main">

				<!-- One -->
					<section id="one">
						<h2>I526, Applied Machine Learning - Syllabus</h2>
					</section>

				<!-- Two -->
					<section id="two">
						<a href="./static/images/ml_schedule_skb.jpg" class="image fit thumb"><img src="./static/images/ml_schedule.jpg" alt="" width="470" height="670"/></a>
						<ul class="actions">
							<li><a href="./about.html" class="button">More About My Skills</a></li>
						</ul>
					</section>

			</div>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<ul class="icons">
						<li><a href="https://www.linkedin.com/in/laurent-valle/" class="icon brands fa-linkedin"><span class="label">LinkedIn</span></a></li>
						<li><a href="https://github.com/lvalle87" class="icon brands fa-github"><span class="label">Github</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Untitled</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="./static/assets/js/jquery.min.js"></script>
			<script src="./static/assets/js/jquery.poptrox.min.js"></script>
			<script src="./static/assets/js/browser.min.js"></script>
			<script src="./static/assets/js/breakpoints.min.js"></script>
			<script src="./static/assets/js/util.js"></script>
			<script src="./static/assets/js/main.js"></script>

	</body>
</html>