<!DOCTYPE HTML>
<html>
	<head>
		<title>Portfolio</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="./static/assets/css/main.css" />
		<link href="./static/images/portfolio.ico" rel="icon">
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="#" class="image avatar"><img src="./static/images/lv_picture.jpg" alt="" /></a>
					<h1>Laurent Valle<br />
					Associate Analyst<br /></h1>
				</div>
			</header>
		<!-- Main -->
			<div id="main">

				<!-- One -->
					<section id="one">
						<header class="major">
							<h2>The Knight's Tour Problem</h2>
						</header>
						<p>Main menu where the user can access the linked list.<br />
						<a><img src="./static/images/main_menu_kt.jpg" alt="" width="750" height="410"/></a>
						</p>

						<p>In this linked list, the user can store any number of initial positions.<br />
						<a><img src="./static/images/linked_list_kt.jpg" alt="" width="750" height="410"/></a>
						</p>

						<p>The chessboard object stored in memory is an 8x8 array. In this case, the user selects as initial position the second row, and the second column.<br />
						<a><img src="./static/images/initial_pos_kt.jpg" alt="" width="750" height="410"/></a>
						</p>

						<p>An new node object is created and appended to the linked list object. The user can add more initial position or go back the main menu.<br />
						<a><img src="./static/images/el_linked_list_kt.jpg" alt="" width="750" height="410"/></a>
						</p>

						<p>Next, the user can solve the Knight's Tour Problem for each node contained in the linked list.<br />
						<a><img src="./static/images/solve_kt.jpg" alt="" width="750" height="410"/></a>
						</p>

						<p>The first 32 moves of the knight objet are performed using Wardnsdoff’s heuristic. From his current position, the knight will always move to the postion were he will have the minimum options for the next position. We can see that that the knight moves along the inner border of the chessboard.<br />
						<a><img src="./static/images/heuristic_kt.jpg" alt="" width="750" height="410"/></a>
						</p>

						<p>The last 32 moves of the knight objet are performed using backtracking. Indeed, the knight object is using his personal stack object to keep track of his path. When the knight is stuck, he will come back to the first path available and try to solve the tour. In worst case, he will attempt every single path possible to solve the tour. Lastly, we can notice that the behavior of the knight change drastically from the heuristic phase. From the intermediate position (1,3), he crosses the chessbaord following a diagonal. After four moves, the knight ends up at position (8,8).<br />
						<a><img src="./static/images/backtracking_th.jpg" alt="" width="750" height="410"/></a>
						</p>

						<p>Finally, the knight solves the problem and from initial position (2,2), he ends up in final position (5,8).<br />
						<a><img src="./static/images/solution_kt.jpg" alt="" width="750" height="410"/></a>
						</p>


						<ul class="actions">
							<li><a href="./index.html" class="button">Home Page</a></li>
						</ul>
					</section>
			</div>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<ul class="icons">
						<li><a href="https://www.linkedin.com/in/laurent-valle/" class="icon brands fa-linkedin"><span class="label">LinkedIn</span></a></li>
						<li><a href="https://github.com/lvalle87" class="icon brands fa-github"><span class="label">Github</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Untitled</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="./static/assets/js/jquery.min.js"></script>
			<script src="./static/assets/js/jquery.poptrox.min.js"></script>
			<script src="./static/assets/js/browser.min.js"></script>
			<script src="./static/assets/js/breakpoints.min.js"></script>
			<script src="./static/assets/js/util.js"></script>
			<script src="./static/assets/js/main.js"></script>

	</body>
</html>